In [2]:
# new in 0.22
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
#SimpleImputer
#KNNImputer

In [19]:
import pandas as pd
thing = 'theultimatedata'
df = pd.read_csv('C:/Users/Keenlol/Desktop/Project SMART CITY/Dataset/cleaned_real/'+thing+'2012-2021_.csv')
#new_df = df.drop('date', axis=1)
X=df[['avg']]

In [43]:
cols = new_df.columns.tolist()
X = new_df[cols]

In [20]:
X

             avg
0      18.993750
1      17.156667
2      19.821111
3      18.136250
4      16.170000
...          ...
87667  22.959375
87668  21.548485
87669  20.772727
87670  20.039394
87671  19.418182

[87672 rows x 1 columns]

In [21]:
impute = IterativeImputer(sample_posterior=True)
#KNNImputer(n_neighbors=2)


imputed_data = impute.fit_transform(X)

In [22]:
imputed_dataframe = pd.DataFrame(imputed_data, columns=X.columns)

In [23]:
imputed_dataframe = pd.concat([df[['year','day','hour']], imputed_dataframe], axis=1)

In [24]:
imputed_dataframe.head()

   year  day  hour        avg
0  2012    1     0  18.993750
1  2012    1     1  17.156667
2  2012    1     2  19.821111
3  2012    1     3  18.136250
4  2012    1     4  16.170000

In [25]:
imputed_dataframe.to_csv('C:/Users/Keenlol/Desktop/Project SMART CITY/Dataset/cleaned_real/i_'+thing+'_2012-2021.csv', index=False)