In [3]:
# new in 0.22
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
#SimpleImputer
#KNNImputer

In [7]:
import pandas as pd
thing = 'theultimatedata'
df = pd.read_csv('C:/Users/Keenlol/Desktop/Project SMART CITY/Dataset/cleaned_real/'+thing+'2012-2021_.csv')
#new_df = df.drop('date', axis=1)
X=df[['rain', 'pm2.5', 'humid mean', 'humid min', 'humid max', 'temp mean', 'temp min', 'temp max', 'pres mean', 'pres min', 'pres max']]

In [43]:
cols = new_df.columns.tolist()
X = new_df[cols]

In [8]:
X

,rain,pm2.5,humid mean,humid min,humid max,temp mean,temp min,temp max,pres mean,pres min,pres max
0,0.036000,19.0,74.997537,39.154325,99.670000,22.727110,15.343333,34.037143,953.533093,938.885000,969.444000
1,0.088889,15.0,68.320147,36.030956,96.670000,21.451667,14.210000,31.605000,941.093958,937.255000,954.366667
2,0.788889,16.0,69.845610,45.320641,98.000000,22.146024,14.700000,34.726250,944.078380,931.920000,965.437778
3,0.100000,15.0,69.059112,35.447825,99.170000,22.605538,15.190000,33.320000,945.677384,937.255000,965.215556
4,0.100000,18.0,67.860703,23.948090,99.000000,21.872222,15.190000,31.686667,946.653264,937.800000,954.760000
...,...,...,...,...,...,...,...,...,...,...,...
3648,0.021746,27.5,80.013329,52.953125,94.293750,22.328013,16.561290,31.153125,963.915742,959.439394,968.493548
3649,0.007544,24.0,78.339944,50.493939,93.796774,22.581855,16.787097,31.646875,962.906919,958.112500,968.550000
3650,0.048443,19.0,76.953427,46.475000,94.168750,22.305407,15.280645,32.378125,963.435002,958.070968,968.813333
3651,0.659131,19.0,79.408094,55.834375,92.761290,22.351589,16.975000,30.250000,964.722438,960.003125,966.910000
3652,0.015071,20.0,78.954163,51.145455,94.121875,22.890247,17.081250,31.836364,964.335530,959.471875,970.338710

In [10]:
impute = IterativeImputer(sample_posterior=True)
#KNNImputer(n_neighbors=2)


imputed_data = impute.fit_transform(X)

In [11]:
imputed_dataframe = pd.DataFrame(imputed_data, columns=X.columns)

In [12]:
imputed_dataframe = pd.concat([df[['date']], imputed_dataframe], axis=1)

In [13]:
imputed_dataframe.head()

,date,rain,pm2.5,humid mean,humid min,humid max,temp mean,temp min,temp max,pres mean,pres min,pres max
0,1/1/2012,0.036000,19.0,74.997537,39.154325,99.67,22.727110,15.343333,34.037143,953.533093,938.885,969.444000
1,1/2/2012,0.088889,15.0,68.320147,36.030956,96.67,21.451667,14.210000,31.605000,941.093958,937.255,954.366667
2,1/3/2012,0.788889,16.0,69.845610,45.320641,98.00,22.146024,14.700000,34.726250,944.078380,931.920,965.437778
3,1/4/2012,0.100000,15.0,69.059112,35.447825,99.17,22.605538,15.190000,33.320000,945.677384,937.255,965.215556
4,1/5/2012,0.100000,18.0,67.860703,23.948090,99.00,21.872222,15.190000,31.686667,946.653264,937.800,954.760000

In [14]:
imputed_dataframe.to_csv('C:/Users/Keenlol/Desktop/Project SMART CITY/Dataset/cleaned_real/i_'+thing+'_2012-2021.csv', index=False)